if SHIELD_ERGOCRESCE_R

config ZMK_KEYBOARD_NAME
    default "Ergocresce_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ERGOCRESCE_L

config ZMK_KEYBOARD_NAME
    default "Ergocresce_L"

config ZMK_SPLIT
    default y
    
endif
